.git
.env
**/.env
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
**/bin
**/*.log
.vulscan
911VulScan_Scan_Results
**/tmp
**/temp
tools/
assets/
.github/
scripts/
deploy_911vulscan.sh
